

{% extends "base.html" %}
{% block body %}

<div class="top-content">       	
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Ooops!</strong></h1>
                    <div class="description">
                        <p><span class="glyphicon glyphicon-lock"></span></p>
                    	<p>
                        	It seems you are not authorized to access this page. Please return to the welcome screen and login. If you are a new user, please register!
                    	</p>
                    </div>
                    <div class="top-big-link">
                    	<a class="btn btn-link-1" href="/" id="link">Return to Welcome Screen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</div>

{% endblock %}